body {
    background-color: #2b3239;
    color: #c8c8c8;
}

a {
	color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration:none;
    color:white;
}

.orange-color {
   color: rgb(255,165,0);
}

.white-color {
    color: white;
}

.gray-color {
    color: #c8c8c8;
}

.header-link-hover:hover {
    background-color: rgb(255,165,0);
    color: white;
    border-radius: 3px;
}

.no-padding {
	padding:0px;
}

.no-padding-top {
	padding-top: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}

.no-padding-bottom {
	padding-bottom: 0px;
}

.mini-padding {
	padding:5px;
}

.mini-padding-left {
	padding-left:5px;
}

.mini-padding-right {
	padding-right: 5px;
}

.mini-padding-top {
	padding-top: 5px;
}

.mini-padding-bottom {
	padding-bottom: 5px;
}

.small-padding {
	padding:10px;
}

.small-padding-left {
	padding-left:10px;
}

.small-padding-right {
	padding-right: 10px;
}

.small-padding-top {
	padding-top:10px;
}

.small-padding-bottom {
	padding-bottom:10px;
}

.medium-padding {
	padding: 20px;
}

.medium-padding-top {
	padding-top:20px;
}

.medium-padding-bottom {
	padding-bottom:20px;
}

.medium-padding-right {
	padding-right:20px;
}

.medium-padding-left {
	padding-left:20px;
}

.large-padding {
	padding:30px;
}

.large-padding-left {
	padding-left:30px;
}

.large-padding-right {
	padding-right:30px;
}

.large-padding-top {
	padding-top:30px;
}

.large-padding-bottom {
	padding-bottom:30px;
}

.extra-large-padding {
	padding: 40px;
}

.extra-large-padding-left {
	padding-left: 40px;
}

.extra-large-padding-right {
	padding-right:40px;
}

.extra-large-padding-top {
	padding-top:40px;
}

.extra-large-padding-bottom {
	padding-bottom:40px;
}

.no-margin {
	margin: 0px;
}

.no-margin-top {
	margin-top:0px;
}

.no-margin-right {
	margin-right:0px;
}

.no-margin-left {
	margin-left: 0px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.mini-margin {
	margin:5px;
}

.mini-margin-left {
	margin-left:5px;
}

.mini-margin-right {
	margin-right: 5px;
}

.mini-margin-top {
	margin-top: 5px;
}

.mini-margin-bottom {
	margin-bottom: 5px;
}

.small-margin {
	margin:10px;
}

.small-margin-left {
	margin-left:10px;
}

.small-margin-right {
	margin-right: 10px;
}

.small-margin-top {
	margin-top:10px;
}

.small-margin-bottom {
	margin-bottom:10px;
}

.medium-margin {
	margin:20px;
}

.medium-margin-top {
	margin-top:20px;
}

.medium-margin-bottom {
	margin-bottom:20px;
}

.medium-margin-right {
	margin-right:20px;
}

.medium-margin-left {
	margin-left:20px;
}

.large-margin {
	margin:30px;
}

.large-margin-left {
	margin-left:30px;
}

.large-margin-right {
	margin-right:30px;
}

.large-margin-top {
	margin-top:30px;
}

.large-margin-bottom {
	margin-bottom:30px;
}

.extra-large-margin {
	margin:40px;
}

.extra-large-margin-left {
	margin-left: 40px;
}

.extra-large-margin-right {
	margin-right:40px;
}

.extra-large-margin-top {
	margin-top:40px;
}

.extra-large-margin-bottom {
	margin-bottom:40px;
}

.link-color {
	color: #08c;
}

.frittie-color {
	color: #fa3f5e;
}

.gray-color {
	color: #808080;
}

.white-color {
	color:white;
}

.black-color {
	color: #333;
}

.danger-color {
	color: #da4f49;
}

.success-color {
	color: #5bb75b;
}

.fail-color {
	color: #bd362f;
}

.bold {
	font-weight:bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none;
}

.border-all {
	border: 1px solid #333;
}

.border-right {
	border-right: 1px solid #333;
}

.border-left {
	border-left: 1px solid #333;
}

.border-top {
	border-top: 1px solid #333;
}

.border-bottom {
	border-bottom: 1px solid #333;
}

.no-border {
	border: none;
}

.mini-text {
	font-size: 10px;
}

.small-text {
	font-size: 11px;
}

.normal-text {
	font-size: 12px;
}

.medium-text {
	font-size:14px;
}

.mid-large-text {
	font-size:16px;
}

.large-text {
	font-size: 18px;
}

.extra-large-text {
	font-size: 24px;
}

.header-size-text {
	font-size:32px;
}

.align-center {
	text-align: center;
}

.div-center {
	display: table;
	margin:0 auto;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.pos-fixed {
	position: fixed;
}