td.pad {
	padding-right:20px;
}

.modal-lg {
    width: 900px;
}

.modal-body {
	color: #333;
}

.modal-body ul {
	list-style:none;
	padding:0px;
}

ul#list_models li.model-item {
	margin-bottom:2px
}

ul#list_models li.model-item.active,
ul#list_models li.model-item:hover {
	background-color:rgb(255,165,0);
	color: white;
}

li.attribute-item {
	margin-top:10px;
	margin-bottom:15px;
}

li.attribute-item .item-name {
	margin-bottom:4px;
	font-size:14px;
	font-weight:bold;
}

table,tr,td {
	border: 1px solid #808080;
}

td.key-cell {
	width:150px;
}

td.value-cell {
	width:408px;
}
