<div class="row large-margin-top">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" data-target="#data" data-toggle="tab" class="gray-color">
                Data
            </a>
        </li>
        <li>
            <a href="#" data-target="#graph" data-toggle="tab" class="gray-color">
                Graph
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="data">
            
        </div>
        <div class="tab-pane" id="graph">
            
        </div>
    </div>

</div>


<div id="search_model_modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
       		<div class="modal-header">
           		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             	<h4 class="modal-title">Octopus Model</h4>
          	</div>
          	<div class="modal-body">
                <div class="row small-margin-left small-margin-right medium-margin-bottom">
					<div class="pull-left">
						<label class='control-label'>Search</label>
						<input ng-model="query">
					</div>
                </div>
                <div class="row small-margin-left small-margin-right">
                    <div id="mainSplitter">
                        <div class="splitter-panel" id="list_model_section">
                            <ul id="list_models">
                            	<li class="model-item" ng-repeat="octopusModel in octopusModels | filter:query">
					            	<a href='#' data-ng-click="showModel('{{octopusModel.id}}')" data-id="{{octopusModel.id}}">
					            		{{octopusModel.modelName}}
					            	</a>
					          	</li>
                            </ul>
                        </div>
                        <div class="splitter-panel" id="model_content_section">
                            <ul class="nav nav-tabs">
						        <li class="active">
						            <a href="#" data-target="#sources_tab" data-toggle="tab" class="gray-color">
						                Sources
						            </a>
						        </li>
						        <li>
						            <a href="#" data-target="#processors_tab" data-toggle="tab" class="gray-color">
						                Processors
						            </a>
						        </li>
						        <li>
						            <a href="#" data-target="#sinks_tab" data-toggle="tab" class="gray-color">
						                Sinks
						            </a>
						        </li>
						    </ul>
						
						    <div class="tab-content" id="model_attribute_content">
						        <div class="tab-pane active" id="sources_tab">
						            <ul id="list_sources">
						            	<li ng-repeat="source in octopusModel.sources" ng-class='{first:$first, last:$last}' ng-class='{first:$first}' class="source-item attribute-item">
						            		<div class='item-name'>
						            			{{source.name}}
						            		</div>
						            		<table>
						            			<tr>
						            				<td class="key-cell">Description</td>
						            				<td class="value-cell">{{source.description}}</td>
						            			</tr>
						            			<tr ng-repeat="(key,value) in source.params track by $index">
						            				<td class="key-cell">{{key}}</td>
						            				<td class="value-cell">{{value}}</td>
						            			</tr>
						            		</table>
									    </li>
						            </ul>
						        </div>
						        <div class="tab-pane" id="processors_tab">
						            <ul id="list_processors">
						            	<li ng-repeat="processor in octopusModel.processors" ng-class='{first:$first, last:$last}' class='processor-item attribute-item'>
						            		<div class='item-name'>
						            			{{processor.name}}
						            		</div>
						            		<table>
						            			<tr>
						            				<td class="key-cell">Description</td>
						            				<td class="value-cell">{{processor.description}}</td>
						            			</tr>
						            			<tr ng-repeat="(key,value) in processor.params track by $index">
						            				<td class="key-cell">{{key}}</td>
						            				<td class="value-cell">{{value}}</td>
						            			</tr>
						            		</table>
									    </li>
						            </ul>
						        </div>
						        <div class="tab-pane" id="sinks_tab">
						            <ul id="list_sinks">
						            	<li ng-repeat="sink in octopusModel.sinks" ng-class='{first:$first, last:$last}' class="sink-item attribute-item">
									      <div class='item-name'>
						            			{{sink.name}}
						            		</div>
									      <table>
						            			<tr>
						            				<td class="key-cell">Description</td>
						            				<td class="value-cell">{{sink.description}}</td>
						            			</tr>
						            			<tr ng-repeat="(key,value) in sink.params track by $index">
						            				<td class="key-cell">{{key}}</td>
						            				<td class="value-cell">{{value}}</td>
						            			</tr>
						            		</table>
									    </li>
						            </ul>
						        </div>
						    </div>
                        </div>
                    </div>
                </div>

         	</div>
          	<div class="modal-footer">
         		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         		<a href="/model/run/{{octopusModel.id}}" class='btn btn-primary' id="run_model_btn" disabled="disabled">Run Model</a>
            </div>
        </div>
    </div>
</div>
<script>
	$(function(){
		 $('#mainSplitter').jqxSplitter({ width: 816, height: 450, panels: [{ size: 250 }], resizable: false });
		 $("#list_model_section").jqxPanel({ width: '100%', height: '100%'});
	});
</script>
